<head>
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/signup/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/signup/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/signup/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/signup/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/signup/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/signup/css/main.css">
<!--===============================================================================================-->
    <script src="https://kit.fontawesome.com/0bc67ca932.js" crossorigin="anonymous"></script>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100-first">
				<div class="login100-pic-first js-tilt" data-tilt>
					<img src="/signup/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="/signup/otpchecking" method="post" id="otpform">
					<span class="login100-form-title">
						Mobile Phone Verification
					</span>

					<p class="login100-form-sub-title">Enter the code we just send on your mobile phone <span class="login100-form-mobile">+91 {{mobile}}</span></p>

					<div class="wrap-input100 ">
						<input class="input100" type="number" id="otp" name="otp" placeholder="Enter OTP">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa-solid fa-key"></i>
						</span>
					</div>
					<input style="display: none;" type="number" class="hide" name="mobile" value="{{mobile}}">

					  <p class="otp-donreceive">Don't receive the code?<br><a style="text-decoration: none;" href="/signup/resendmessage"><b class="otp-resend">Resend</b></a></p>

						<label for="otp" id="otp-error" class="form-error"></label>
						<label for="" id="correctotp" class="form-error">{{otp}}</label>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<input class="login100-form-btn" type="submit" value="varification">
						</button>

					
				</form>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->	
	<script src="/signup/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/signup/vendor/bootstrap/js/popper.js"></script>
	<script src="/signup/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/signup/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/signup/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/signup/js/main.js"></script>
<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
	<script src="/signup/js/validate.js"></script>


</body>